:root{
    --vermelho:#E50914;
    --preta:#141414;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face{
    font-family: CustomFont;
    src: url('./fonts/helvetica-45-light.otf');
}

.popcorn{
    background-color: var(--preta);
    background-image: linear-gradient( to right,black, #5a0404,transparent ); 
    font-family: "Arial", Times, serif;
    /* font-family: CustomFont; */
    font-weight: 500;
    color: #FFFFFF;
    
}

header .container-popcorn{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;


}

header .user_nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: "Arial Black",Times;
    padding-right: 15px;
    font-size: 40px;

}

.form-login{
    display: flex;
    flex-direction: column;
}


.authLinks{
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: .5rem;
}

.authLinks:hover{
    text-decoration: none;
}

.redButton {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
}

.our-story-text{
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
    .our-story-title {
        font-size: 4rem;
    }
    .our-story-subtitle{
        font-size: 1.625rem
    }
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
    .email-form-title {
        max-width: none;
        padding-bottom: 20px;
        font-size: 1.2rem;
    }
}

.email-form-title {
    padding: 0 5%;
    max-width: 750px;
    margin: 0 auto;
    font-weight: 400;
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px){
    .email-form {
        max-width: 950px;
        padding-top: .85rem;
    }
}



.email-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.emailTextField{
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
    position: relative;
    z-index: 100;
}

.input__group{
    position: relative;
    z-index: 10;
    display: flex;
    width: 600px;
}

.placeLabel{
    position: absolute;
    z-index: 150;
    color: #b3b3b3;
    font-size: 0.9rem;
    top: 30px;
    left: 18px;
    transition: all 300ms ease-in;
}
@media only screen and (min-width: 1450px){
    .emailTextField {
        height: 70px;
    }
}


.inline-form{
    display: flex;
    flex-direction: row;
}

.btn-red {
    color: #fff;
    background-color: #e50914;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e50914),to(#db0510));
    background-image: -webkit-linear-gradient(top,#e50914,#db0510);
    background-image: -moz- oldlinear-gradient(top,#e50914,#db0510);
    background-image: -o-linear-gradient(top,#e50914,#db0510);
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}

@media only screen and (min-width: 1450px){
    .btn-extra-large {
        font-size: 1.875rem;
        min-height: 70px;
        min-width: 200px;
        width: 200px;
    }
}

.cta-btn-text{
    padding: .35rem 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}



header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;

}
/* filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.40)100%), url("/img/liga2.jpg");
    height:500px;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;

}
.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.botao{
    background-color: rgba(161, 12, 12, 0.5);
    border:none;
    color:white ;
    

    padding:15px 30px;
    margin-right: 15px;
    font-size: 16px;

    cursor: pointer;
    transition: .3s ease all;
    

}

.botao:hover {
    background-color:white ;
    color:black;
}
.botao i{
    margin-right: 15px;
}
.container-popcorn {
    margin-left: 40px;
}
.filme-principal .banner-principal {
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 8px;
    
}

.box a img {
    transition: transform .6s;
    overflow: hidden;  
}

.box img:hover {
    width:   120%;
    height:  120%; 
    transition: transform 0.3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.box img {
    border-radius: 2px;
}

.link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: #AAAAAA;
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
      color:#AAAAAA;
}
.logo:hover{
    color: #FFFFFF;
}

footer {
    padding: 20px;
    text-align: center;
    color: #AAAAAA;
    margin: 10px;
}

.user__login{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/netflix-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #b3b3b3;
    background-blend-mode: multiply;
}

.logo-login{
    position:absolute;
    align-self: flex-start;
    left: 10px;
}
.logo-login img{
    height: 75px;
    width:auto;
}

.login {
    display: flex;
    flex-direction: column;
    background: rgba(000, 000, 000, 0.75);
    border-radius: 4px;
    width: 500px;
    height: 500px;
    padding: 60px 68px 40px;
}

.login .login__title{
    margin-bottom: 20px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.login .login__group {
    position: relative;
    z-index: 10;
    display: flex;

}
.login .login__group .login__group__label{
    position: absolute;
    z-index: 150;
    color: #b3b3b3;
    font-size: 0.9rem;
    top: 30px;
    left: 18px;
    transition: all 300ms ease-in;
}

.login .login__group .login__group__input{
    width: 100%;
        position: relative;
        z-index: 100;
        background: #333;
        margin-bottom: 20px;
        border-radius: 4px;
        border: none;
        opacity: 1;
        font-size: 1rem;
        color: #fff;
        line-height: 50px;
        padding: 12px 18px 0;
}

.login__group__input:focus{
    top: 15px;
    font-size: 3rem;
}


.login .login__group .login__group__label:focus{
    top: 15px;
    font-size: 3rem;
}

.login__sign-in {
    margin: 24px 0 12px;
    padding: 16px;
    color: #fff;
    background: #e50914;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login__secondary-cta{
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.login__secondary-cta__text{
    opacity: 1;
    font-size: 0.9rem;
    color: #b3b3b3;
    text-decoration: none;
}

.login__secondary-cta__text--need-help{
    transition: all 0.3s ease-in;
}
.login__secondary-cta__text--need-help:hover{
    text-decoration: underline;
    color: #b3b3b3;
}

.user_anchor{
    opacity: 1;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.user_anchor:hover{
    opacity: 1;
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

.signupBasicHeader{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.noBorderHeader{
    background-color: transparent;
    border-bottom: 0;
    position: relative;
}

.nfHeader {
    background-color: #f3f3f3;
    border-bottom: solid 1px #ccc;
    height: 90px;
}

.authBasic{
    color: #333333;
    font-size: 19px;
    font-weight: 600;
    margin-right: 40px;
}

.authBasic:hover{
    color: #333333;
    text-decoration: underline;
}

.basicLogo{
    margin-left: 40px;
}
